@font-face {
  font-family: 'abster';
  src: url(/font/abster-webfont.woff) format('woff');
}



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(/image/about.jpg);
    background-size: cover; /* 이미지가 전체 영역을 덮도록 설정 */
    background-position: center; /* 이미지를 가운데 정렬 */
}

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container .header{
        width: 80%;
        height: 80px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container .header h1 a{
        text-decoration: none;
        color:white;
        font-family: abster;
    }

    .container .nav ul li{
        display: inline-block;
        margin: 0 10px;
    }

    .container .nav ul li a{
        text-decoration: none;
        color:white;
    }

    .container .nav ul li a:hover{
        color:#1fdfdf;
    }

    .footer {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-style: italic;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: center;
        z-index: 9999;
    }

.rectangle {
    width: 80&; /* 너비 설정 */
    height: 80%; /* 높이 설정 */
    background-color: rgba(255, 255, 255, 0.2);
}

.rectangle p {
    color: white; /* 텍스트 색상 */
    font-size: 24px; /* 텍스트 크기 */
    font-style: italic;
    font-weight: bold; /* 텍스트 굵기 */
    padding-left: 100px; /* 왼쪽 여백 추가 */
    padding-top: 100px; /* 왼쪽 여백 추가 */
    opacity: 0; /* 일단 투명하게 설정합니다. */
    transition: opacity 2.5s ease; /* opacity 변화를 1초 동안 부드럽게 적용합니다. */
}

.rectangle p.show {
    opacity: 1; /* 나타나는 상태일 때 opacity를 1로 설정하여 나타나는 효과를 줍니다. */
}

#place-btn {
  display: inline-block;
  margin: 40px 10px 0 100px; /* 여기서 margin-right 값을 조정 */
  padding: 15px 15px;
  font-size: 15px;
  color: white;
  background: none;
  border: 3.5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: opacity 2.5s ease;
  line-height: center;
  width: 220px;
  height: 60px;
}

#info-btn {
  display: inline-block;
  margin: 40px 0 0 10px; /* 여기서 margin-left 값을 조정 */
  padding: 15px 15px;
  font-size: 15px;
  color: white;
  background: none;
  border: 3.5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transition: opacity 2.5s ease;
  line-height: center;
  width: 220px;
  height: 60px;
}

#place-btn.show, #info-btn.show {
  opacity: 1;
}

#place-btn:hover, #info-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}