<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMUNITY</title>
    <link rel="stylesheet" th:href="@{/css/community.css}" type="text/css">
</head>
<body>
<div class="container">
    <div class="section section1">
        <div class="header">
            <h1><a th:href="@{/}">I L A</a></h1>
            <div class="nav">
                <ul>
                    <li><a th:href="@{/}" id="main">MAIN</a></li>
                    <li><a th:href="@{/about}" id="about">ABOUT</a></li>
                    <li><a th:href="@{/place}" id="place">PLACE</a></li>
                    <li><a th:href="@{/info}" id="info">INFO</a></li>
                    <li><a th:href="@{/search}" id="search">🔎</a></li>
                </ul>
            </div>
        </div>
        <div class="rectangle">
            <div class="post-list">
                <h2>커뮤니티 : 게시판</h2>
                <div class="post-items" id="post-items" th:each="post : ${posts}">
                    <div class="post-item">
                        <h3><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">게시글 제목</a></h3>
                    </div>
                </div>
                <div class="pagination" id="pagination">
                    <span th:each="page : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{|/posts?page=${page}|}" th:text="${page}"></a>
                    </span>
                </div>
            </div>
            <button class="post-create-button" onclick="togglePostForm()">게시글 작성</button>
        </div>
    </div>
    <footer class="footer">
        <p>
            Copyright © 2024 I LIVE ALONE. All Rights Reserved. Designed & Developed by
            <span id="author-link" style="cursor: pointer; color: white; text-decoration: underline;" onclick="openInstagram()">ChangHwan Lee</span>
        </p>
    </footer>
</div>

<div class="popup" id="popup">
    <div class="popup-content">
        <span class="close" onclick="togglePostForm()">&times;</span>
        <h2>새 게시글 작성</h2>
        <form th:action="@{/posts}" method="post">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="content">내용:</label>
            <textarea id="content" name="content" required></textarea><br><br>
            <label for="author">작성자:</label>
            <input type="text" id="author" name="author" required><br><br>
            <button type="submit">작성</button>
        </form>
    </div>
</div>

<script th:src="@{/js/community.js}"></script>
</body>
</html>
