<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" th:href="@{/css/search.css}" type="text/css">
</head>
<body>
<div class="container">
    <div class="section section1">
        <div class="header">
            <h1><a th:href="@{/}">I L A</a></h1>
            <div class="nav">
                <ul>
                    <li><a th:href="@{/}" id="main">MAIN</a></li>
                    <li><a th:href="@{/about}" id="about">ABOUT</a></li>
                    <li><a th:href="@{/place}" id="place">PLACE</a></li>
                    <li><a th:href="@{/info}" id="info">INFO</a></li>
                    <li><a th:href="@{/search}" id="search">🔎</a></li>
                </ul>
            </div>
        </div>
        <div class="search">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Ex) (지역 명) 1인 가구 혜택">
                <button type="submit">Search</button>
            </form>
            <div id="search-results"></div>
        </div>
    </div>

    <footer class="footer">
        <p>
            Copyright © 2024 I LIVE ALONE. All Rights Reserved. Designed & Developed by
            <span id="author-link" style="cursor: pointer; color: white; text-decoration: underline;" onclick="openInstagram()">ChangHwan Lee</span>
        </p>
    </footer>
</div>
<script th:src="@{/js/search.js}"></script>
</body>
</html>
